:root {
  --colore-principale: ;
  --colore-secondario: ;
  --font-titoli: ;
  --font-corpo: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 13, 102);
  color: rgb(255, 255, 255);
}

.navbar_main {
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 2%;
  justify-content: space-between;
  background-color: rgb(11, 13, 102);
  outline: 2px solid rgb(0, 255, 255);
}

.searchs {
  display: flex;
  width: 30%;
  height: 100%;
}

.search_input {
  display: flex;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  z-index: 102;
  border-color: rgb(8, 218, 255);
  border-style: double;
  background-color: rgb(178, 243, 243);
  padding: 6px;
}

.searchbtn {
  display: flex;
  border-radius: 10px;
  padding: 6px;
  margin-left: 5px;
  border-color: rgb(14, 210, 245);
  z-index: 103;
  box-shadow: inset 1px 1px 9px 0px aqua;
  background-color: #255656;
  color: white;
}

.logo {
  z-index: 102;
}

.link_navbar {
  display: flex;
  gap: 20px;
}

.link_navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  z-index: 103;
}

.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
  z-index: 103;
  display: none;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #6ffff3;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  z-index: 103;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.off-screen-menu {
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
  z-index: 103;
}

.off-screen-menu.active {
  right: 0;
}

.off-screen-menu ul {
  list-style: none;
}

.off-screen-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  display: block;
}

.off-screen-menu a:hover {
  color: #6ffff3;
}

.hero_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero_container_image {
  width: 100%;
  height: 100vh;
}

.hero_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_effect {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 92%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.hero_card {
  position: absolute;
  top: 30%;
  left: 45%;
  right: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: 10px;
  z-index: 10;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 1;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: white;
  text-shadow: 0 5px 10px black;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic {
  font-weight: bold;
  font-size: 5em;
  list-style: 1.3rem;
}

.carousel .list .item .content .topic {
  color: rgb(0, 217, 255);
}

/* thumbnail*/

.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 101;
  display: flex;
  gap: 20px;
  z-index: 102;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: bold;
}

.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 103;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  font-family: fantasy;
  border: none;
  color: white;
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 101;
}

.arrows button:hover {
  background-color: white;
  color: black;
}

.carousel .list .item:nth-child(1) {
  z-index: 100;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .description {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.carousel .list .item:nth-child(1) .title {
  animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .topic {
  animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .description {
  animation-delay: 1.6s;
}

/* effetto next click */
.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  border-radius: 20px;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

@keyframes showThumbnail {
  to {
    width: 150px;
  }
}

.carousel.next .thumbnail {
  transform: translateX(150px);
  animation: trasformThumbnail 0.5s linear 1 forwards;
}

@keyframes transformThumbnail {
  to {
    transform: translateX(0);
  }
}

/* effetto prev*/

.carousel.prev .list .item:nth-child(2) {
  z-index: 101;
}

.carousel.prev .list .item:nth-child(2) img {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: outImage 0.5s linear 1 forwards;
}

@keyframes outImage {
  to {
    width: 150px;
    height: 220px;
    border-radius: 20px;
    left: 50%;
    bottom: 50px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1) {
  width: 0;
  overflow: hidden;
  animation: showThumbnail 0.5s linear 1 forwards;
}

.carousel.prev .list .item:nth-last-child(2) .author,
.carousel.prev .list .item:nth-last-child(2) .title,
.carousel.prev .list .item:nth-last-child(2) .topic,
.carousel.prev .list .item:nth-last-child(2) .description {
  animation: contentOut 1.5s linear 1 forwards;
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
  pointer-events: none;
}

.time {
  width: 0%;
  height: 5px;
  background-color: rgb(0, 195, 255);
  position: absolute;
  z-index: 104;
  top: 0;
  left: 0;
}

.carousel.next .time,
.carousel.prev .time {
  width: 100%;
  animation: timeRunning 2s linear 1 forwards;
}

@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.hero_title {
  text-align: center;
  font-size: 2rem;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 2%;
}

.anime-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.movies-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.card {
  width: 250px;
  background-color: #aeeeee;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  justify-content: center;
  position: relative;
  background-image: url("asset/sfondo.jpg");
  padding: 10px;
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card .nome {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: "Cormorant Garamond";
}

.card .rating {
  font-size: 16px;
  color: rgb(200, 200, 32);
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}

.card .release {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  color: white;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}

.card .description {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  background-image: url("asset/sfondo.jpg");
  color: white;
  padding: 15px;
  box-sizing: border-box;
  transition: bottom 0.5s ease-in-out;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}

.card:hover .description {
  bottom: 0;
}

.card-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .ham-menu {
    display: block;
  }

  .link_navbar {
    display: none;
  }
}
