:root {
  --colore-principale: ;
  --colore-secondario: ;
  --font-titoli: ;
  --font-corpo: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(11, 13, 102);
  color: rgb(255, 255, 255);
}

.navbar_main {
  position: absolute;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 2%;
  justify-content: space-between;
  background-color: rgb(11, 13, 102);
  outline: 2px solid rgb(0, 255, 255);
}

.searchs {
  display: flex;
  width: 30%;
  height: 100%;
}

.search_input {
  display: flex;
  border-radius: 30px;
  height: 100%;
  width: 100%;
  z-index: 10;
  border-color: rgb(8, 218, 255);
  border-style: double;
  background-color: rgb(178, 243, 243);
  padding: 4px;
}

.searchbtn {
  display: flex;
  border-radius: 10px;
  padding: 4px;
  margin-left: 5px;
  border-color: rgb(8, 218, 255);
  border-style: double;
  background-color: rgb(178, 243, 243);
  z-index: 11;
}

.logo {
  z-index: 11;
}

.link_navbar {
  display: flex;
  gap: 20px;
}

.link_navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
  z-index: 11;
  display: none;
}

.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #6ffff3;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}

.off-screen-menu {
  background-color: rgb(34, 37, 49);
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  transition: 0.3s ease;
}

.off-screen-menu.active {
  right: 0;
}

.off-screen-menu ul {
  list-style: none;
}

.off-screen-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  display: block;
}

.off-screen-menu a:hover {
  color: #6ffff3;
}

.hero_container_image {
  width: 100%;
  height: 100vh;
}

.hero_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_effect {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 92%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.hero_card {
  position: absolute;
  top: 30%;
  left: 45%;
  right: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero_title {
  text-align: center;
  font-size: 2rem;
}

.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 10%;
}

.anime-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  border: solid rgb(5, 151, 196);
  border-radius: 50px;
  background-color: #07b4a0;
  width: 90%;
  height: 100%;
  background-image: url("asset/ec4c69a298e34341d9172073ee434dd0.jpg");
  background-repeat: no-repeat;
  margin-left: 5%;
  padding: 3%;
  border: 3%;
  margin: 3%;
}

.card-title {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .ham-menu {
    display: block;
  }

  .link_navbar {
    display: none;
  }
}
